* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}

nav, footer {
    display:flex;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a, footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: white;
}

.login, .copyright {
    margin-left: auto;
}

.navBtn:hover, .footBtn:hover {
    background-color: white;
    color: #333;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
    padding-bottom: 15px;
}

section h2 span{
    background: linear-gradient(to right, #f5d836, #bbb812);
    color: white;
    padding: 10px 55px;
    border-radius: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 50vh;
}

section:nth-child(even) {
    background-color: rgba(238, 235, 230, 0.562);
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.videos h2 {
    width: 100%;
}

.videos video {
    width: 33%;
    padding: 10px;
}

.notes {
    width: 30%;
    height: 600px;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

.clip-circle {
    clip-path: circle(40% at 47% 45%);
}

.founder {
    padding-bottom: 0;
    padding-top: 0;
}

.about {
    margin:30px;
    font-variant: small-caps;
}

.handles a {
    background-color: rgba(125, 125, 125, 0.250);
    padding: 10px 15px;
    border-radius: 30px;
    margin: 10px 5px;
    text-decoration: none;
}

.handles a:hover {
    background-color: rgb(30, 30, 30, 0.250);
}

.linkedIn {
    color: #0a66c2;
}

.github {
    color: #0FBF3E;
}

.facebook {
    color: #1877F2
}

.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    margin: 10px;
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    .videos video {
        width: 48%;
    }

    nav, footer {
        flex-direction: column;
        position:relative;
        padding: 10px 0px;
    }

    .login, .copyright {
        margin-left: 0px;
    }

}

@media screen and (min-width: 700px) and (max-width: 850px) {
    .notes {
        width: 32%;
        height: 400px;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    .notes {
        width: 70%;
        height: 600px;
    }
}

@media screen and (max-width: 499px) {
    .videos video {
        width: 99%;
    }

    nav, footer {
        flex-direction: column;
        position:relative;
        padding: 10px 0px;
    }

    .login, .copyright {
        margin-left: 0px;
    }

    .notes {
        width: 70%;
        height: 400px;
    }

    .carousel-cell {
        width: 90%;
    }
}

@media screen and (700px <= width < 950px) {
    .videoHeading {
        height:60%;
        margin-bottom: 7px;
        padding-bottom: 7px;
    }
}